<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block" disabled="disabled">
                <input type="text" name="name" class="layui-input"  placeholder="请输入名称" value="{$row.name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="phone" class="layui-input"  placeholder="请输入联系方式" value="{$row.phone|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" class="layui-input"  placeholder="可不填写 ,默认原密码" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮件</label>
            <div class="layui-input-block">
                <input type="text" name="email" class="layui-input"  placeholder="请输入邮件" value="{$row.email|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">绑定用户</label>
            <div class="layui-input-block">
                <select name="user_id">
                    <option value=''>--选择新绑定用户--</option>
                    {foreach $user as $k=>$v}
                    <option value='{$v.id}'>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>