<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" lay-verify="required" placeholder="请输入商品名称" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">进价</label>
            <div class="layui-input-block">
                <input type="text" name="purchase_price" class="layui-input" lay-verify="required" placeholder="请输入进价" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">售价</label>
            <div class="layui-input-block">
                <input type="text" name="price" class="layui-input" lay-verify="required" placeholder="请输入价格" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">运营物流费</label>
            <div class="layui-input-block">
                <input type="text" name="shipping_cost" class="layui-input" lay-verify="required" placeholder="请输入发货费用" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea type="text" name="attr" class="layui-input" lay-verify="required" style="height:50px;" placeholder="请输入描述" value=""></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">商品图片</label>
            <div class="layui-input-block layuimini-upload">
                <input autocomplete="off" name="images" lay-verify="required" class="layui-input layui-col-xs3"   placeholder="请上传商品图片" value="">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn"  data-upload="images" data-upload-number="many" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品详情</label>
            <div class="layui-input-block">
                <textarea name="content" rows="20" class="layui-textarea editor" 商品详情 placeholder="请输入商品详情"></textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>